body {
  font-family: Arial, sans-serif;
  background-color: #f3fbf1;
  color: #333;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #64868e;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: center;
}

.task-section,
.progress-section,
.chart-section,
.rating-section {
  margin-top: 20px;
}

.Task1Progress {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3fbf1;
  height: 20px;
  border-radius: 5px;
}

.Task1p {
  height: 50%;
  width: 0;
  background-color: #98B4A6;
  border-radius: 5px;
}

.Task2Progress {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3fbf1;
  height: 20px;
  border-radius: 5px;
}

.Task2p {
  height: 50%;
  width: 0;
  background-color: #98B4A6;
  border-radius: 5px;
}

.Task3Progress {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3fbf1;
  height: 20px;
  border-radius: 5px;
}

.Task3p {
  height: 50%;
  width: 0;
  background-color: #98B4A6;
  border-radius: 5px;
}

.pie-chart-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donut-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(#A6AEBF 0% 30%, #006A67 30% 60%, #608BC1 60% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.center {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
  position: absolute;
}

.rating-section input[type="range"] {
  width: 100%;
}